{% extends "./padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">

                    <h1 class="mb-5">Web Intermedia realizada por Nicolas Bogetti</h1>

                    <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">

                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                <p>To activate this form, sign up at</p>
                                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>

                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<h3>Podes buscar una camada:</h3>
<form action="/buscar/" method="GET">
    <input type="number" name="camada" id="camada">
    <input type="submit" value="buscar">
</form>

<h6>·No enviaste datos.</h6>

{% endblock contenidoQueCambia %}